
<input [(ngModel)]="spotifyUserName" type="text" placeholder="Spotify Username" />
<button (click)="findUser()">
    Get Playlists
</button>

<p>&nbsp;</p>

<h5 *ngIf="userNotFound" class="alert alert-danger" role="alert">
    User {{spotifyUserName}} not found!
</h5>

<h5 *ngIf="(!userNotFound && userPlaylists && userPlaylists.items && userPlaylists.items.length == 0)" class="alert alert-warning" role="alert">
    User {{spotifyUserName}} exists, but has no public playlists.
</h5>

<!--begin - row 1 -->
<div class="row">

    <!--begin - playlists-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Playlists</h5>
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="userPlaylists">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let playlist of userPlaylists.items">
                                <td>{{ playlist.name }}</td>
                                <td>{{ playlist.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - playlists-->

    <!--begin - artists-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Artists</h5>
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="artists">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let artist of artists">
                                <td>{{ artist.name }}</td>
                                <td>{{ artist.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - artists-->

    <!--begin - genres-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Genres</h5>
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="genres">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Artists</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let genre of genres">
                                <td>{{ genre.name }}</td>
                                <td>{{ genre.artists.length }}</td>
                                <td>{{ genre.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--end - genres-->

</div>
<!--end - row 1 -->

<p>&nbsp;</p>

<!--begin - row 2 -->
<div class="row">

    <!--begin - playlists-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Audio Features</h5>
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="avgAudioFeatures">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - playlists-->

    <!--begin - section 2-->
    <div class="col-sm-4">

    </div>
    <!--end - section 2-->

    <!--begin - section 3-->
    <div class="col-sm-4">

    </div>
    <!--end - section 3-->

</div>
<!--end - row 2 -->
