
.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.divalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10012;
    background-color: rgba(255, 255, 255, 0.75);
    top: 0;
    left: 0;
    margin: 0;
}
    .divalog > div {
        width: 80%;
        /*height: 80%;*/
        background-color: rgba(255, 255, 255, 1);
    }


div.imageFrame {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    /* this is the width of Spotify's distribution images */
    width: 1200px;
    height: 500px;
}

    div.imageFrame > div {
        border: solid 1px blue;
        position: absolute;
        /* this creates a box around the plot area of Spotify's distribution images */
        width: 847px;
        height: 386px;
        left: 212px;
        bottom: 112px;
    }

        div.imageFrame > div > div {
            border-left: 2px solid orange;
            position: absolute;
            height: 384px;
            font-size: 1px;
        }
