<dialog id="metricsDialog">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ metricsDialogTitle }}</h5>
            <p>{{ metricsDialogContent }}</p>
            <button class="btn btn-primary" (click)="closeMetricsDialog()">OK</button>
        </div>
    </div>
</dialog>




<div class="input-group mb-3" style="width: 500px;">
    <input [(ngModel)]="spotifyUserName" type="text" placeholder="Spotify Username" class="form-control" />
    <div class="input-group-prepend">
        <button (click)="findUser()" class="btn btn-primary">
            Search
        </button>
    </div>
</div>

<p>&nbsp;</p>

<h5 *ngIf="userNotFound" class="alert alert-danger" role="alert">
    User {{spotifyUserName}} not found!
</h5>

<h5 *ngIf="(!userNotFound && userPlaylists && userPlaylists.items && userPlaylists.items.length == 0)" class="alert alert-warning" role="alert">
    User {{spotifyUserName}} exists, but has no public playlists.
</h5>

<!--begin - row 1 -->
<div class="row">

    <!--begin - playlists-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Playlists
            </div>
            <div class="card-body">
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="userPlaylists">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let playlist of userPlaylists.items">
                                <td>{{ playlist.name }}</td>
                                <td>{{ playlist.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - playlists-->
    <!--begin - artists-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Artists
            </div>
            <div class="card-body">
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="artists">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let artist of artists">
                                <td>{{ artist.name }}</td>
                                <td>{{ artist.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - artists-->
    <!--begin - genres-->
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Genres
            </div>
            <div class="card-body">
                <div class="scroll">
                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="genres">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Artists</th>
                                <th>Tracks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let genre of genres">
                                <td>{{ genre.name }}</td>
                                <td>{{ genre.artists.length }}</td>
                                <td>{{ genre.tracks.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - genres-->

</div>
<!--end - row 1 -->

<p>&nbsp;</p>

<!--begin - row 2 -->
<div class="row">

    <!--begin - playlists-->
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Audio Features
            </div>
            <div class="card-body">
                <div>

                    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="avgAudioFeatures">
                        <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Avg.</th>
                                <th>Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td (click)="showMetricsDialog('Danceability', 'Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.')">Danceability</td>
                                <td>{{ avgAudioFeatures.danceability |  number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.">Energy</td>
                                <td>{{ avgAudioFeatures.energy | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.">Loudness</td>
                                <td>{{ avgAudioFeatures.loudness | number:'1.2-2' }} dB</td>
                                <td>-60 to 0</td>
                            </tr>
                            <tr>
                                <td title="A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).">Valence ("positivity")</td>
                                <td>{{ avgAudioFeatures.valence | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.">Speechiness</td>
                                <td>{{ avgAudioFeatures.speechiness | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.">Acousticness</td>
                                <td>{{ avgAudioFeatures.acousticness | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.">Instrumentalness</td>
                                <td>{{ avgAudioFeatures.instrumentalness | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.">Liveness</td>
                                <td>{{ avgAudioFeatures.liveness | number:'1.2-2' }}</td>
                                <td>0 = least, 1 = most</td>
                            </tr>
                            <tr>
                                <td title="The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.">Tempo</td>
                                <td>{{ avgAudioFeatures.tempo | number:'1.2-2' }} BMP</td>
                                <td>0 to 250</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end - playlists-->
    <!--begin - section 3-->
    <div class="col-sm-4">

    </div>
    <!--end - section 3-->

</div>
<!--end - row 2 -->
